*{
    box-sizing: border-box;
}
body{
    background-color: #8382db;
    margin: 30px;
    padding: 30px;
}

.calculator{
    background-color: #bee5dc;
    max-width: 400px;
    margin: 0px auto;
    border: solid 2px;
    border-color: black;
    border-radius: 10px;
}
input{
    background-color: rgb(231, 111, 201);
     border: none;
     width: 100%;
     padding: 20px;
     border-bottom: 2px solid black;
     border-radius: 10px;
     text-align: right;
     font-size: 40px;
     box-shadow: none;
     
}
.calculator-button{
    padding: 20px;
    display: grid;
    grid-template-rows: repeat( 5, 1fr);
    grid-template-columns: repeat( 4, 1fr) ;
    grid-gap: 15px;
}
.calc-button{
    background-color: #f5c61d;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    color: white;
    font-size: 22px;
    cursor: pointer;

}
.is-clear{
  grid-column: span 3;
  background-color: blue;
}
.is-equal{
    background-color: rgba(161, 253, 56, 0.541);
}
.is-zero{
    grid-column: spa;
    background-color: orangered;
    grid-column: span 2;
}

